body
{
 text-align: center;
 background-image: linear-gradient(rgb(250, 202, 8),rgb(252, 252, 251),rgb(255, 255, 255),rgb(9, 252, 171));
   
}

#income3{
margin-left: 15cm;}


#income4{
    margin-right: 8cm;}


    #Othe1r{
        margin-right: 3.5cm; 
    }


    #Grocery1{
        margin-right: 1.3cm;
    }